.dark-theme {
    background-color: #141414;
}
.dark-theme h1 {
    color: #FFF;
}
.dark-theme .category-block {
    color: #FFF;
}
.card .content {
    position: relative;
}
.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.38px;
    color: #FFF;
    max-width: 850px;
    margin-bottom: 60px;
}
.card-column-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.card-column-3 .card .content p {
    color: #FFF;
}
.category-block .card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.42px;

}

@media (max-width: 767px) {
    .category-block .card p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.38px;
    }
    .category-block .card {
        margin-bottom: 60px;
    }
}
@media (min-width: 768px) {
    .description {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.5px;
        margin-bottom: 120px;
    }
    .dark-theme .container h1 {
        font-size: 66px;
        font-weight: 700;
        line-height: 76px;
        letter-spacing: -1.96px;
        margin-bottom: 60px;
    }
    .card-column-3 {
        padding-bottom: 120px;
    }
    .card-column-3 .card {
        max-width: 30%;
    }
}