.agency-block p, .agency-block ul, .agency-block li {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.38px;
}
.agency-block ul {
    list-style-type: none;
}
.agency-block h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.48px;
}
.agency-block h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.56px;
}
.agency-block h1, .agency-block h2, .agency-block h3, .agency-block h5, .agency-block ul, .agency-block p {
    transition: padding .3s;
}
.agency-block h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.agency-block ul li {
    text-indent: 5px;
}
.agency-block ul li a {
    color: #141414;
    border-bottom: 3px solid transparent;
    box-shadow: 0 3px rgba(0, 0, 0, 0.16);
    text-decoration: none;
    transition: all .3s;
}
.agency-block ul li a:hover {
    color: #2F77EB;
    box-shadow: 0 3px #2F77EB;
}
.agency-block ul li::before {
    content: '-';
    position: relative;
    left: -5px;
}
.agency-socials a {
    display: inline-block;
    border: 0;
    margin-right: 10px;
    color: #141414;
    border-bottom: 3px solid transparent;
    box-shadow: 0 3px rgba(0, 0, 0, 0.16);
    text-decoration: none;
    transition: all .3s;
}
.agency-socials a:hover {
    color: #2F77EB;
    box-shadow: 0 3px #2F77EB;
}

@media (max-width: 767px) {
    .agency-block p {
        margin-bottom: 60px;
        transition: padding .3s;
    }
    .agency-block p, .agency-block ul, .agency-block li {
        max-width: 882px;
    }
    .agency-block h1, .agency-block h2, .agency-block h3, .agency-block h5, .agency-block ul, .agency-block p {
        padding-left: 16px;
        padding-right: 16px;
    }
    .agency-block h1 + p {
        margin-bottom: 30px;
    }
    .agency-block h2 {
        margin-top: 60px;
        margin-bottom: 30px;
        max-width: 882px;
    }
    .agency-block h5 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.38px;
        margin-top: 30px;
    }
}
@media (min-width: 768px) {
    .agency-block p {
        margin-bottom: 120px;
    }
    .agency-block p, .agency-block ul, .agency-block li {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.5px;
    }
    .agency-block h1 + p, .agency-block h5 {
        margin-top: 60px;
    }
    .agency-block h3 {
        margin-bottom: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.4px;
    }
    .agency-block h2 {
        margin-top: 120px;
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: -0.85px;
    }
}
@media (max-width: 1279px) and (min-width: 768px) {
    .agency-block h2, .agency-block p, .agency-block ul, .agency-block li {
        max-width: 914px;
    }
    .agency-block h1, .agency-block h2, .agency-block h3, .agency-block h5, .agency-block ul, .agency-block p {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 1280px) {
    .agency-block h1, .agency-block h2, .agency-block h3, .agency-block h5, .agency-block ul, .agency-block p {
        padding-left: 74px;
        padding-right: 74px;
    }
    .agency-block h2, .agency-block p, .agency-block ul, .agency-block li {
        max-width: 998px;
    }
}