.category-content h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.56px;
    margin: 60px 0 30px;
}
.category-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.38px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .category-content h2 {
        font-size: 40px;
        line-height: 1.15px;
        letter-spacing: -0.8px;
        margin: 120px 0 30px;
        max-width: 850px;
    }
    .category-content p {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.5px;
        max-width: 850px;
    }
}