.clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fafafa;
    margin: 60px 0 120px;
}
.clients-list > div {
    display: flex;
    justify-content: center;
}
.clients-list img {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .clients-list {
        margin: 30px 0 60px;
    }
    .clients-list > div {
        width: calc(100% / 3);
    }
}
@media (min-width: 768px) {
    .clients-list {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
    }
    .clients-list > div {
        width: initial;
        margin: initial;
    }
}