.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.headroom--unfixed {
    position: fixed;
    transform: translateY(0);
    transition: background .3s;
}
.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    background-color: #fff;
}
.headroom-wrapper {
    height: 0 !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}
.headroom .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding .3s;
}
.headroom .column {
    padding-bottom: 10px;
    padding-top: 10px;
}
.column {
    padding-left: 16px;
    padding-right: 16px;
}

.headroom .nav-item {
    display: inline-block;
}
.headroom .nav-item:not(:last-child) {
    margin-right: 10px;
}
.headroom .open-navigation {
    cursor: pointer;
}

.headroom .button-secondary {
    border-radius: 4px;
    user-select: none;
    position: relative;
}
.headroom .button-secondary::before {
    content: '';
    height: 100%;
    left: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transform-origin: 0 bottom 0;
    transition: all 150ms cubic-bezier(0, 0, .58, 1);
    width: 100%;
}
.headroom .button-secondary:hover::before {
    transform: scaleY(1);
}
.button-secondary {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4px;
    padding: 9px 16px;
}
.at-left {
    float: left;
}
.headroom a {
    color: rgba(20, 20, 20, 0.56);
    text-decoration: none;
    transition: color 300ms ease-in-out;
}
.headroom a.is-active {
    color: #141414;
}
.headroom .button-secondary span {
    position: relative;
    text-transform: capitalize;
    transition: color 150ms cubic-bezier(0, 0, .58, 1);
}
.icon-burger {
    height: 24px;
    width: 24px;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.button-secondary--icon {
    margin-left: 4px;
    margin-right: -8px;
}
.icon::before, .icon::after {
    transition: all .3s;
}
.icon-burger::before, .icon-burger::after {
    border-top: 1px solid;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 66.66%;
}
.icon-burger::before {
    transform: translate(-50%, -4px);
}
.icon-burger::after {
    transform: translate(-50%, 2px);
}
.dark-theme + .category-content + .to-next-content + .headroom-wrapper .headroom--unfixed .nav-stack .nav-item a,
.dark-theme + .category-content + .to-next-content + .headroom-wrapper .headroom--unfixed .nav-item a {
    color: #FFF;
}


@media (min-width: 768px) {
    .headroom .column {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .headroom .container {
        max-width: 1196px;
    }
    .headroom .open-navigation {
        display: none;
    }
}
@media (max-width: 767px) {
    .headroom .nav-stack:not(.open-navigation) {
        display: none;
    }
}