.form-column p:first-child {
    margin-top: 60px;
}
.form-column p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.38px;
}
form .input {
    display: block;
    width: 100%;
}
.input {
    position: relative;
}
form .input:not(:last-child) {
    margin-bottom: 30px;
}
form .input input {
    background: none;
    color: #141414;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #cccccc;
    transition: box-shadow .3s;
    display: block;
    position: relative;
    width: 100%;
}
form .input input + span {
    color: rgba(20, 20, 20, 0.56);
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform-origin: left;
    visibility: hidden;
    z-index: 1;
}
.input p.input-caption {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.38px;
    color: rgba(20, 20, 20, 0.32);
    margin-top: 10px;
    margin-bottom: 30px;
}
.how-find-us-block {
    margin-top: 10px;
}
.form-column p.form-info, .form-column p.form-footer {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.42px;
    color: rgba(20, 20, 20, 0.56);
    margin-top: 30px;
}
.form-info a, .form-footer a {
    color:rgba(20, 20, 20, 0.56);
    border-bottom: 1px solid transparent;
    box-shadow: 0 3px rgba(0, 0, 0, 0.16);
    text-decoration: none;
    transition: all .3s;
}
.form-info a:hover, .form-footer a:hover {
    color: #2F77EB;
    box-shadow: 0 3px #2F77EB;
}
.form-footer a {
    display: inline-block;
    margin-right: 25px;
}
.submit-form {
    color: rgba(20, 20, 20, 0.56);
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    user-select: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.5px;
    padding: 9px 16px;
    margin-top: 30px;
}
.form-footer {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .form-column {
        max-width: 882px;
        padding: 80px;
    }
    .form-column p:first-child {
        margin-top: 30px;
    }
    form {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    form .input input {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px; 
        letter-spacing: -0.4px;
        padding: 9px 10px;
    }
    form .input input + span {
        left: 10px;
        top: 17px;
    }
}
@media (min-width: 768px) {
    .form-column {
        padding-bottom: 200px;
    }
    .form-column p {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.5px;
    }
    .form-group {
        margin-bottom: 20px;
        margin-top: 120px;
    }
    form .input input {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px; 
        letter-spacing: -0.5px;
        padding: 9px 16px;
    }
    form .input input + span {
        left: 16px;
        top: 19px;
    }
}
@media (max-width: 1279px) and (min-width: 768px) {
    .form-column {
        max-width: 914px;
    }
}
@media (min-width: 1280px) {
    .form-column {
        max-width: 998px;
    }
}