.to-next {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    display: block;
    position: relative;
    text-decoration: none;
    color: #141414;
}
.to-next::before {
    content: '';
    height: 100%;
    left: 0;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.04);
    opacity: 0.5;
    position: absolute;
    top: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 bottom 0;
    transform-origin: 0 bottom 0;
    -webkit-transition: all 150ms cubic-bezier(0, 0, .58, 1);
    transition: all 150ms cubic-bezier(0, 0, .58, 1);
    width: 100%;
}
.to-next:hover::before {
    transform: scaleY(1);
}
.to-next .column {
    margin: 0 auto;
}
.to-next span {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.38px;
    font-weight: 700;
}
.to-next h2 {
    position: relative;
    margin-top: 30px;
    transition: color .3s;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.67px;
    max-width: 850px;
}
.to-next h2:hover {
    color: #2F77EB;
}

@media (min-width: 768px) {
    .to-next {
        padding: 240px 0;
    }
    .to-next span {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.5px;
        font-weight: 700;
    }
    .to-next h2 {
        font-size: 66px;
        font-weight: 700;
        line-height: 76px;
        letter-spacing: -1.61px;
    }
}
@media (max-width: 374px) {
    .to-next {
        padding: 120px 0 134px;
    }
}