.work-block h1.header {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.67px;
    max-width: 850px;
    margin: 240px 0 124px;
}

@media (max-width: 1279px) and (min-width: 768px) {
    .column {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 768px) {
    .work-block h1.header {
        margin-bottom: 240px;
        font-size: 82px;
        font-weight: 700;
        line-height: 86px;letter-spacing: -2px;
    }
}
@media (min-width: 1280px) {
    .column {
        padding-left: 74px;
        padding-right: 74px;
    }
}